SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2404", SYMLINK+="roboclaw"
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="03e7", ATTRS{idProduct}=="2485", SYMLINK+="oak-d"
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", SYMLINK+="lidar"
SUBSYSTEM=="input", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="0268", SYMLINK+="ps3-joystick", MODE="0666"
