<?xml version="1.0"?>
<launch>
  <node pkg="joy" type="joy_node" name="ps3_joy" output="screen" >
    <!--<param name="dev" type="string" value="/dev/ps3-joystick" />-->
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.012" />
  </node>
  <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_node">
  </node>
</launch>
