<?xml version="1.0"?>
<launch>

    <arg name="dev" default="/dev/roboclaw"/>
    <arg name="baud" default="115200"/>
    <arg name="address" default="128"/>
    <arg name="max_speed" default="1.0"/>
    <arg name="ticks_per_meter" default="1782.86"/>
    <arg name="left_motor_number" default="1"/>
    <arg name="base_width" default="0.413"/>
    <arg name="run_diag" default="true"/>
    <arg name="serial_timeout" default="1.0"/>

    <node if="$(arg run_diag)" pkg="roboclaw_node" type="roboclaw_node.py" name="roboclaw_node" output="screen">
        <param name="~dev" value="$(arg dev)"/>
        <param name="~baud" value="$(arg baud)"/>
        <param name="~address" value="$(arg address)"/>
        <param name="~max_speed" value="$(arg max_speed)"/>
        <param name="~ticks_per_meter" value="$(arg ticks_per_meter)"/>
        <param name="~left_motor_number" value="$(arg left_motor_number)"/>
        <param name="~base_width" value="$(arg base_width)"/>
        <param name="~serial_timeout" value="$(arg serial_timeout)"/>
    </node>

    <node pkg="diagnostic_aggregator" type="aggregator_node"
          name="diagnostic_aggregator">
        <rosparam command="load"
                  file="$(find roboclaw_node)/config/roboclaw_diag.yaml"/>
    </node>

</launch>
